
body {
	background: white;
	font-family: 'Raleway',sans-serif;
	text-align: justify;
	color: #656565;

	height:100%;
	height:100vh;
	margin:0px;
	padding:0px;
}

a {
	text-decoration: none;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: initial;
	transition-delay: initial;
}

a:hover {
	color: #F2A900;
	text-decoration: none;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: initial;
	transition-delay: initial;
}

/* Publications */
/* ----------------------------------------------------------*/
.publication-entry{
	text-align: left;
	margin:.7em;
	margin-left:0;
    border-left: thick solid #eee;
    padding-left: 10pt;
    margin-bottom:20pt;
}

/*
.publication-entry:hover {
    border-left: thick solid #404040;
    transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: initial;
	transition-delay: initial;
	-webkit-transition-duration: .5s; /* for Safari & Chrome */
/*}*/

.publication-entry .title{
	color: #BF5700;

	font-weight:500;
	font-size: 110%;
}

.authors-list{
	list-style-type:none;
	font-variant:small-caps;
	display:block;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	padding-top: 2px;
}

.authors-list > li {
    display:inline;
}

.authors-list > li:after {
    content: ','
}

.authors-list > li:last-of-type:after {
    content:''
}


.publication-entry .venue{
	/*font-style:italic;*/
	display: block;
	padding-top: 2px;
}

/* ----------------------------------------------------------*/
.publication-entry .link-list{
	list-style-type:none;
	display:block;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	padding-top: 2px;
}

.publication-entry .link-list::before{
	content: "[";
	vertical-align: middle;
	font-size: 150%;
}

.publication-entry .link-list::after{
	content: "]";
	vertical-align: middle;
	font-size: 150%;
}

.publication-entry .link-list > .link {
    display:inline;
}

.publication-entry .link::before{
	content: '\0000a0';
}

.publication-entry .link:last-of-type:after{
	content: '\0000a0';
}
/* ----------------------------------------------------------*/

.bibtex-wrapper {
	padding-top: .5em;
	padding-bottom: .5em;
}

.bibtex pre{
	display: block;
	background-color: #eee;
	font-family: monospace;
	white-space: pre;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom:  0px;
	padding-right: 0px;
	color: inherit;
	margin-bottom: 0.5em;
}

.bibtex pre > code{
	display: block;
	padding: .5em;
	font-family: monospace;
}

.bibtex .keyword{
	color: #BF5700
}

.bibtex .constant{
	color: #268bd2;
	font-size: 90%;
	line-height: 200%;
}

/* ----------------------------------------------------------*/
.abstract-wrapper {
	padding-top: .5em;
	padding-bottom: .5em;
}

.abstract{
	text-align:justify;
	border: 1px solid #eee;
	padding-left: .5em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .5em;
	border-radius: 4px;
	border-left: 3px solid #BF5700;
}

.abstract p{
	text-indent: 0em;
}

.symbol{
	font-family: "Courier New", monospace;
	vertical-align: middle;
}
.symbol-expand:after{
	content: "+";
}
.symbol-contract:after{
	content: "-";
}

.bib-toggler{
	color: #999;
}
.bib-toggler:before{
	color: #999;
	content: "| ";
}