{% for publication in site.data.publications %}
{% if publication.type == PUBLICATIONTYPE %}
<div class="publication-entry">
    <span class="title">{{ publication.bib.title }}</span>
    <ul class="authors-list">
        {% for author in publication.authors %}
        {% for person in site.data.people %}
        {% if person == author %}
        <li>
            <span>
            {% if person.website == nil %}
            {{ person.name }}
            {% else %}
            <a href="{{ person[1].website }}">{{ person.name }}</a>
            {% endif %}
            </span>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
    <span class="published">
        {{ publication.venue }}, {{ publication.bib.year }}
    </span>


    {% assign validlinks = 0 %}
    {% for link in publication.links %}
        {% if link.name != nil and link.url != nil %}
            {% assign validlinks = validlinks | plus: 1 %}
        {% endif %}
    {% endfor %}

    {% if validlinks > 0 %}
    [&nbsp;
        {% for link in publication.links %}
        {% if link.name != nil and link.url != nil %}
        <a href="{{ link.url }}">{{ link.name }}</a>
        &nbsp;
        {% endif %}
        {% endfor %}
    ]
    {% endif %}
</div>
{% endif %}
{% endfor %}